<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Spring Boot Exemple</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div th:if="${not #lists.isEmpty(bicycles)}">
        <h2>Bicycle List</h2>
        <table class="table table-striped">
            <tr>
                <th>Bicycle Id</th>
                <th>Brand</th>
                <th>Type</th>
                <th>Status</th>
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="bicycle : ${bicycles}">
                <td th:text="${bicycle.id}">bicycle Id</td>
                <td th:text="${bicycle.brand}">brand</td>
                <td th:text="${bicycle.type}">type</td>
                <td th:text="${bicycle.status}">status</td>
                <td><a th:href="${ '/bicycle/' + bicycle.id}">View</a></td>
                <td><a th:href="${'/bicycle/edit/' + bicycle.id}">Edit</a></td>
                <td><a th:href="${'/bicycle/delete/' + bicycle.id}">Delete</a></td>
            </tr>
        </table>

    </div>
</div>

</body>
</html>